body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(36,41,51);
    color: rgb(89, 97, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(57, 66, 85, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    border-style: solid;
    border-color:rgb(236, 76, 86);
}

h1 {
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 94%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    background-color: rgb(89, 97, 114);
    color: white;
}

textarea:focus {
    outline: 2px solid #6a11cb;
}

button {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: rgb(36,41,51);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    color: #ffffff;
    background: rgb(236, 76, 86);
    
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
